.btn{
  border: 2px solid blue;
  width: 130px;
  height: 45px;
  font-size: large;
  font-family: sans-serif;
}

.rs{
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}